body {
  background-color: #2c2c2c;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #f0f0f0;
}

.flex {
  display: flex;
}
.none {
  display: none;
}

.loader-div {
  display: flex;
  flex-direction: column;
  width: 252px;
}
.svg-container {
  align-self: flex-end;
}
.loader-text {
  align-self: center;
  font-weight: 600;
}
.homePage-loading {
  display: flex;
  height: 100dvh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: #1f1f1f;
  color: #f0f0f0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.brand-logo {
  display: flex;
}
.brand-logo img {
  height: 30px;
  border-radius: 25%;
}
.change-username-section {
  position: absolute;
  right: 0;
  top: 60px;
  font-size: 1rem;
  background-color: #1f1f1f;
  padding: 2px;
  border-radius: 2%;
}
.change-username-tab {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  background-color: #1f1f1fc9;
}
.change-username-tab-inputsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 20rem;
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(255 255 255 / 35%);
  position: relative;
}
.change-username-tab-inputsection p {
  color: red;
  position: absolute;
  font-size: 0.7rem;
  top: 10%;
}
.change-username-tab-inputsection input {
  margin: 10px;
  width: 18rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}
.change-username-tab-inputsection button {
  padding: 0.75rem 1rem;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.app-section {
  display: flex;
  height: calc(100vh - 4rem);
  gap: 1rem;
  padding: 1rem;
}

.people-section,
.chat-section {
  background-color: #e0e0e0;
  color: #333;
  overflow-y: auto;
  border-radius: 8px;
  margin: 0.5rem 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.chat-section {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
.chat-section-header span {
  height: 40px;
  flex: 1;
  padding: 0.75rem 1rem;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 1rem;
  text-align: center;
}
.messages-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: scroll;
  padding: 0 0.5rem;
  scrollbar-width: none;
}
.messages-section::-webkit-scrollbar {
  display: none;
}
.message-string {
  align-self: center;
  background-color: #8b8888ad;
  color: #333;
  padding: 0.25rem 0.5rem;
  border-radius: 15px;
  margin: 0.5rem 0;
  max-width: 70%;
  word-wrap: break-word;
  font-size: 0.7rem;
  font-weight: 600;
}
.message-bubble {
  background-color: #4a90e2;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 15px;
  margin: 0.25rem;
  max-width: 70%;
  word-wrap: break-word;
}
.bubble-icons {
  margin: 0 0 0 5px;
  position: relative;
  visibility: hidden;
}
.bubble-icons-group {
  position: absolute;
  margin: 0 5px;
  padding: 5px 8px;
  top: -50%;
  left: 50%;
  flex-direction: column;
  background-color: #26262630;
  border-radius: 3px;
}
.message-bubble:hover .bubble-icons {
  visibility: visible;
  display: flex;
  transition: all 3s ease-in;
}
.bubble-icons li {
  padding: 2px;
  border-radius: 50%;
}
.image-bubble {
  height: fit-content;
}
.image-bubble img {
  height: 220px;
  border-radius: 15px;
  max-width: 100%;
}
.message-bubble.sent {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background-color: #1f78d1;
}
.message-bubble.received {
  flex-direction: column;
  display: flex;
  align-self: flex-start;
  background-color: #d1d1d1;
  color: #333;
}
.sender-name {
  justify-content: space-between;
  font-weight: 600;
  font-size: 0.8rem;
}
.message-bubble-menu-icon {
  display: flex;
  position: relative;
}
.message-input-section {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  border-top: 1px solid #ccc;
}
.icons-container {
  width: 40px;
  position: relative;
  display: flex;
  align-items: center;
}
.toggle-input-icons {
  position: absolute;
  bottom: 5px;
  right: 0;
  background-color: #b3aeae;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 20px;
}
.toggle-input-icons-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 50% 50% 0 0;
  background: inherit;
  margin-bottom: 2px;
}
.plus-icon {
  display: flex;
  border-radius: 50%;
  margin: 2px;
}
.toggle-input-icons span:hover {
  background-color: #5f5f5f6b;
  transition: "transform 0.5s ease-in-out";
}
.toggle-input-icons div span {
  display: flex;
  border-radius: 50%;
  margin: 0px;
  padding: 5px;
}
.input-div {
  display: inline-flex;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}
.input-image-label {
  display: flex;
  height: 45px;
  align-items: center;
  width: 100%;
  word-wrap: break-word;
}
.select-image-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  border: none;
  width: 100%;
}
.send-message-btn {
  padding: 0.75rem 1rem;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}
.send-message-btn:hover {
  background-color: #1f78d1;
}

.people-section {
  flex-direction: column;
  justify-content: space-between;
}
.user-room-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 0.5rem;
  scrollbar-width: none;
}
.user-room-section::-webkit-scrollbar {
  display: none;
}
.user-element {
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  background-color: #d1d1d1;
  color: #333;
  padding: 0.75rem 1rem;
  border-radius: 15px;
  margin: 0.5rem 0;
  max-width: 100%;
  word-wrap: break-word;
}
.people-section-header,
.chat-section-header {
  display: flex;
  align-items: center;
  background-color: #3434343b;
  border-bottom: solid 1px #3333334a;
}
.back-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 1px #3333334a;
  height: 40px;
  width: 40px;
}
.people-section-header span {
  height: 40px;
  flex: 1;
  padding: 0.75rem 1rem;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 1rem;
  text-align: center;
}
