@media only screen and (max-width: 750px) {
  .people-section {
    width: 100vw;
  }
  .people-section {
    display: none;
  }
}
@media only screen and (min-width: 750px) {
  .back-logo {
    display: none;
  }
  .chat-section {
    display: none;
  }
}
